html{
  background-image: url("hero.jpg");
  overflow-x: hidden;
  background-color: black;
}

.title{
color: black;
}
.bg-hero-image{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lilita One', sans-serif;
}
#parallax {
    background-image: url("hero.jpg");
    /* The image used */
  
    /* Set a specific height */
    min-height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #parallax2 {
    background-image: url("utfb.jpg");
    /* The image used */
  
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #parallax3 {
    background-image: url("hero.jpg");
    /* The image used */
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*nav style */
  .navbar-brand {
    color:#BF5700
    ;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
  }
  .navbar-brand:visited{
    color:#BF5700
    ;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
  }
  .navbar-brand:hover{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  .nav-link{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
  }
  .nav-link:visited{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
  }
  .nav-link:hover{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  .nav-link:active{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
  }
  
  .navbar-toggler-icon{
    color: #BF5700 ;
    font-family: 'Lilita One', sans-serif;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
  }

  .navbar{
    background-color: rgb(0, 0, 0);
   
  }
  .info{
   background-color:rgb(0, 0, 0);
  }
  #logo{
    background-color: transparent;
    border-color: transparent;
    background-image: url("planelonghorn.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: 40px;
    background-position: center,center;
    background-repeat: no-repeat;
}
  .title{
    text-align: center;

    background-color: transparent !important;
    color: #BF5700;
    font-family: protest-guerrilla-regular;
  }
  .h1title{
    background-color: transparent;
    color: #BF5700;
    font-size: 5rem;
  }
  .titlebg{
    background-color: black;
    margin: 0px;
  }
  .clearbg{
    background-color: transparent;
  }
  #howdy{
    color: white;
    background-color: #BF5700;
    text-align: center;
  }
  .info{
    background-color: #000000;
  }
  #paragraphTitle{
    color: #BF5700;
    font-size: 2rem;
    font-family: protest-guerrilla-regular;
  }
 .marginpls{
  margin-right: 5%;
  margin-left: 10%;
  background-color: rgb(255, 255, 255);
  color: #BF5700;
  border-radius: 5px;
  border:5px solid #BF5700;
  margin-bottom: 10%;
 }
 #bevo{
background-repeat: no-repeat;
background-position: center;
background-color: black;
border-radius: 100%;
border-color: transparent;
margin-right: 10%;
border:5px solid #000000;
margin-bottom: 10%;
background-image: url("orangehookem.png");
 }
 #bevo:hover{
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
  border-radius: 100%;
  border-color: #BF5700;
  border-width: 20px;
  margin-right: 10%;
  background-image: url("realbevo1.jpg");
  border:5px solid #BF5700;
  margin-bottom: 10%;
  background-size: cover;
   }
   #bevo:active{
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
    border-radius: 100%;
    border-color: #BF5700;
    border-width: 20px;
    margin-right: 10%;
    background-image: url("realbevo2.jpg");
    border:5px solid #BF5700;
    margin-bottom: 10%;
    background-size: cover;
     }
   .protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #actualbtn{
    background-color: black;
    border-radius: 100%;
    border-color: transparent;
  }
  #actualbtn:hover{
    background-color: black;
    border-radius: 100%;
  }
 