.title{
color: black;
}
.bg-hero-image{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lilita One', sans-serif;
}
#parallax {
    background-image: url("hero.jpg");
    /* The image used */
  
    /* Set a specific height */
    min-height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

  /*nav style */
  .navbar-brand {
    color:#BF5700
    ;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
  }
  .navbar-brand:visited{
    color:#BF5700
    ;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
  }
  .navbar-brand:hover{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  .nav-link{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
  }
  .nav-link:visited{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
  }
  .nav-link:hover{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  .nav-link:active{
    color: #BF5700;
    font-family: 'Lilita One', sans-serif;
  }
  
  .navbar-toggler-icon{
    color: #BF5700 ;
    font-family: 'Lilita One', sans-serif;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
  }

  .navbar{
    background-color: white;
    margin: 0px;
  }
  .info{
   background-color:white;
  }
  #logo{
    background-color: transparent;
    border-color: transparent;
    background-image: url("planelonghorn.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: 40px;
    background-position: center,center;
    background-repeat: no-repeat;
}
  .title{
    text-align: center;

    background-color: transparent !important;
    color: #BF5700;
  }
  .h1title{
    background-color: transparent;
    color: #BF5700;
    font-size: 5rem;
  }
  .titlebg{
    background-color: transparent;
    margin: 0px;
  }
  .clearbg{
    background-color: transparent;
  }